<div class="site-bg">
  <div class="container"style="padding-top:40px;">
    <div class="row">
      <div class="span12" style="text-align:center;padding-bottom:10px;">
        <b style="font-size:30px;font-weight:bold;line-height:40px;color:#55A79A;">About Us</b>
      </div>
    </div>
    <div class="row">
      <div class="sapn12">
        <div class="span4" style="text-align:center;">
          <p><img src="assets/about2.jpg" alt="image"/></p>
          <p class="about-head">Heading</p>
          <p style="text-align:justify;color:grey;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="span4" style="text-align:center;">
          <p><img src="assets/about1.jpg" alt="image"/></p>
          <p class="about-head">Heading</p>
          <p style="text-align:justify;color:grey;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="span4" style="text-align:center;">
          <p><img src="assets/about3.jpg" alt="image"/></p>
          <p class="about-head">Heading</p>
          <p style="text-align:justify;color:grey;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>