<div id="contact_us" class="footer-main">
  <div class="container">
    <div class="row" style="padding-top:20px;padding-bottom:20px;">
        <div class="span4">
          <p style="border-bottom:3px solid #ffffff;"><b>About us</b></p>
				Need help?<br/>
				Contact us 7 days a week.<br/><br/>
                                Call us: +1-734-654-1234<br/>
				Email us: example@gmail.com
        </div>
        <div class="span4">
          <p style="border-bottom:3px solid #ffffff;"><b>Important links</b></p>
          <p>Terms & Conditions</p>
          <p>Privacy Policy</p>
          <p>Pricing</p>
          <p>Trust & Safety</p>
          <p>Press</p>
        </div>
        <div class="span4">
          <p style="border-bottom:3px solid #ffffff;"><b>Support/Contact</b></p>
          <p>
          <form >
            <p>Subject:
            <input type="text" style="background-color:inherit;float:right;border-radius:0px;width:75%;"/></p>
            <p>Message:</p>
            <p><textarea style="background-color:inherit;float:right;border-radius:0px;width:93%;"></textarea></p>
            <input type="submit" value="Submit" class="btn btn-custom-blue pull-right"/>
          </form>
          </p>
        </div>
    </div>
  </div>
</div>